@use 'mixins';

body {
  font-family: 'Gotham Pro', sans-serif;
  color: #000;
}

.main {
  overflow: hidden;
  width: 100%;
}

.rur {
  font-family: 'als';
  text-transform: none;
}

a {
  color: #000;
  text-decoration: none;
}

.header__top {
  background: #efeff0;
  padding: 10px 0;
  position: relative;
  z-index: 101;

  &__menu {
    li:not(:last-child) {
      padding-right: 20px;
    }

    a {
      display: block;
      height: 28px;
      font-size: 11px;
      line-height: 28px;
      text-transform: uppercase;
      letter-spacing: 0.1em;

      &:hover {
        color: #7f7f7f;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .ico-link {
      margin-left: 30px;
      white-space: nowrap;
    }
  }

  &__phone {
    margin-right: 5px;
    font-size: 12px;
    line-height: 28px;
    font-weight: bold;
  }
}

.ico-link {
  display: inline-flex;
  align-items: center;
  font-size: 11px;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  svg {
    margin-right: 10px;
    color: #757575;
  }

  &:hover {
    svg {
      color: var(--color-violet);
    }
  }
}

.header__middle__btn {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  width: 125px;
  min-width: 125px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: var(--color-violet);
  height: 42px;
  border-radius: 5px;

  .hamburger-box {
    width: 18px;
    min-width: 18px;
    margin-right: 10px;
  }

  &:hover {
    background: var(--color-violet2);
  }
}

.header__middle {


  &__inner {
    padding: 30px 0;
    height: 102px;
  }

  &__left {
    display: flex;
    align-items: center;

    .nav {
      margin-left: 10px;

      li {
        padding-left: 30px;

        a {
          font-size: 12px;
          font-weight: 500;
          line-height: 24px;
          text-transform: uppercase;
          letter-spacing: 0.1em;

          &:hover {
            color: #7f7f7f;
          }
        }
      }
    }
  }

  &__ico-menu {
    justify-content: flex-end;
    align-items: center;

    & > li:not(:first-child) {
      padding-left: 30px;
    }

    & > li > a {
      display: flex;
      align-items: center;
      position: relative;
      color: #000;
      text-decoration: none;

      &:hover {
        color: #757575;

        .header__middle__ico-menu__count {
          background: var(--color-violet2);
        }
      }
    }

    &__count {
      position: absolute;
      z-index: 10;
      left: 50%;
      display: inline-flex;
      height: 16px;
      border-radius: 8px;
      border: 1px solid #fff;
      background: var(--color-violet);
      color: #fff;
      min-width: 16px;
      padding: 0 4px;
      text-align: center;
      top: -6px;
      font-size: 10px;
      font-weight: 500;
    }
  }

  &__lk {
    position: relative;

    &__name {
      font-size: 12px;
      line-height: 20px;
      white-space: nowrap;
      font-weight: 500;
      padding: 0 0 0 15px;
      position: relative;
      display: flex;
      align-items: center;
    }
  }

  .dropdown > a {
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
      color: #757575;
    }
  }

  .dropdown__line {
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
  }
}

.box__slider {
  position: relative;

  &__nav {
    position: absolute;
    z-index: 10;
    top: 50%;
    width: 48px;
    height: 48px;
    margin-top: -24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 24px;
    padding: 0;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);

    &:hover {
      color: #4e1498;
    }

    &--next {
      right: 15px;
    }

    &--prev {
      left: 15px;
    }
  }
}

.home-sliders {
  &__item {
    display: block;
    border-radius: 10px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__pagination {
    position: absolute;
    z-index: 1;
    bottom: 15px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;

    .swiper-pagination-bullet {
      width: 8px;
      border-radius: 4px;
      margin: 0 5px;
      opacity: 1;
      background: #fff;

      &.swiper-pagination-bullet-active {
        background: #1d1d1b;
      }
    }
  }

  .box__slider__nav {
    opacity: 0;
  }

  &:hover {
    .box__slider__nav {
      opacity: 1;
    }
  }
}

.home-top-banner {
  display: block;
  margin-bottom: 15px;

  img {
    display: block;
    border-radius: 10px;
  }
}

.product-day {
  position: relative;

  &__header {
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 36px;
    position: relative;
    z-index: 10;
    justify-content: space-between;
  }

  &__body {
    position: relative;
    z-index: 1;
    height: 206px;
    padding: 30px;
    border: 2px solid #000;
    margin-top: -19px;
    display: flex;
    align-items: center;
    border-radius: 10px;

    &:hover {
      color: #7f7f7f;
    }
  }

  &__caption {
    padding: 0 5px;
    background: #fff;
    position: relative;
    z-index: 10;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 36px;
    white-space: nowrap;
    font-size: 14px;
    color: #000;
  }

  &__timer {
    padding: 0 32px 0 5px;
    min-width: 115px;
    font-weight: bold;
    letter-spacing: 0.1em;
    position: relative;
    z-index: 10;
    white-space: nowrap;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 469.33 469.33'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B stroke-width: 0px; fill: %234e1498; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cpath class='cls-1' d='m234.67,0C105.06,0,0,105.06,0,234.67s105.06,234.67,234.67,234.67,234.67-105.06,234.67-234.67C469.18,105.13,364.21.15,234.67,0Zm79.08,313.75c-8.33,8.33-21.83,8.33-30.17,0l-64-64c-4-4-6.25-9.43-6.25-15.08V106.67c0-11.78,9.55-21.33,21.33-21.33s21.33,9.55,21.33,21.33v119.17l57.75,57.75c8.33,8.33,8.33,21.83,0,30.17h0Z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 16px 16px;
  }

  &__img {
    min-width: 110px;
  }

  &__desc {
    flex-grow: 1;
    padding-left: 20px;
  }

  &__sale {
    display: inline-flex;
    align-items: center;
    padding: 0 5px;
    height: 20px;
    background: var(--color-violet);
    color: #fff;
    font-weight: bold;
    font-size: 12px;
  }

  &__title {
    padding: 5px 0;
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
  }

  &__cost {
    padding-top: 15px;
  }


}

.prices {
  display: flex;
  align-items: center;
}

.price {
  font-weight: bold;
  line-height: 18px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;

  &--old {
    color: #b9b9b9;
    font-size: 14px;
    margin-right: 6px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 8px;
      left: 0;
      height: 1px;
      width: 100%;
      background: #fe4343;
    }
  }

  &--hot {
    font-size: 16px;
    color: #000;
  }
}

.fpad30 {
  padding-bottom: 30px;
}

.home-cat-list {
  padding-bottom: 70px;

  .swiper-slide {
    width: auto;
  }

  .swiper-wrapper {
    justify-content: center;
  }

  &__item {
    display: block;
    margin: 0 13px;
    width: 84px;
    text-decoration: none;
    text-align: center;
    color: #000;
    padding-top: 5px;

    &:hover {
      color: #7f7f7f;

      .home-cat-list__item__img {
        transform: scale(1.05);
        opacity: 0.8;
      }
    }

    &__img {
      width: 84px;
      height: 84px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: all 0.2s ease-in-out;
      border: 2px solid var(--color-violet);

      img {
        display: block;
        border-radius: 32px;
        object-fit: cover;
        width: 64px;
        height: 64px;
      }
    }

    &__title {
      padding-top: 6px;
      font-size: 12px;
      line-height: 16px;
    }
  }

}

.box-slider {
  padding-bottom: 100px;

  &__header {
    align-items: center;
    padding-bottom: 45px;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 24px;
    text-align: center;
  }

  &__col-link {
    text-align: right;
  }

  &__more-link {
    font-weight: 500;
    letter-spacing: 0.1em;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #000;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #7f7f7f;
    }
  }

  .slider-product {
    .slider-product__item {
      width: 304px;
    }
  }

  &__body {
    position: relative;

    .box__slider__nav--prev {
      left: -24px;
    }

    .box__slider__nav--next {
      right: -24px;
    }
  }
}

.slider-product__item {
  height: auto;
  display: flex;
  flex-direction: column;
}

.product-box {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__fav {
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 10px;
    background: transparent;
    border: none;
    color: #7f7f7f;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #4e1498;
    }
  }

  &__tips {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
  }

  &__img {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 310px;
    position: relative;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &__hover {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 3;
      background: #fff;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-in-out;
      opacity: 0;
      visibility: hidden;
    }

    &:hover {
      .product-box__img__hover {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__body {
    flex-grow: 1;
    padding: 5px 0;
    text-align: center;
    color: #000000;
    text-decoration: none;
    display: block;

    &:hover {
      color: #7f7f7f;
    }
  }

  &__art {
    padding-bottom: 10px;
    font-size: 10px;
    letter-spacing: 0.1em;
    color: #000000;

    &__val {
      font-weight: 400;
      color: #757575;
    }
  }

  &__title {
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    padding-bottom: 10px;
  }

  &__sub-title {
    color: #757575;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.1em;
    padding-bottom: 10px;
  }

  &__footer {
    display: flex;
    align-items: center;
  }

  &__col-price {
    width: 50%;
    justify-content: center;
    display: flex;

  }

  &__col-btn {
    width: 50%;
  }

}

.product-tips {
  flex-direction: column;

  li {
    padding-bottom: 5px;
    display: flex;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    padding: 0 5px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #fff;

    &--new {
      background: #baa37a;
    }

    &--must-have {
      background: #A7A4E0;
    }

    &--sale {
      background: var(--color-violet);
    }
  }

}

.btn {
  height: 36px;
  padding: 5px 15px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 1.2;
  display: inline-flex;

  &--bay {
    background: var(--color-violet);

    &:hover {
      background: var(--color-violet2);
      color: #fff;
    }
  }

  &--black {
    background: #000;

    &:hover {
      background: #fff;
      color: #000;
    }
  }

  &.btn--big {
    height: 48px;
    padding: 10px 25px;
    font-size: 12px;
    font-weight: bold;
  }

}

.header {
  display: block !important;
  position: relative;


}

.header__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__logo {
  padding-top: 0;
}

.header__slogan {
  width: calc(100% - 180px);
  padding-top: 20px;
}

.box__slider__nav.box__slider__nav--silver {
  background: #eee;
}

.swiper-button-disabled {
  visibility: hidden;
  opacity: 0;
}

.full-banner {
  position: relative;
  margin: 0 0 75px;

  &__pic {
    position: relative;
    z-index: 1;
    margin: 0 -42px;

    img {
      width: 100%;
      height: 470px;
      object-fit: cover;
      object-position: left center;
      border-radius: 10px;
      display: block;
    }
  }

  &__wrap {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;

    .row {
      height: 470px;
    }
  }

  &__desc {
    padding: 165px 35px 30px 15px;
    text-align: right;
    color: #fff;
  }

  &__title {
    font-size: 44px;
    line-height: 1.2;
    margin-bottom: 10px;

    b {
      display: block;
      font-weight: 500;
    }
  }
}

.full-banner__slider {
  position: relative;
  padding: 0 20px;
  margin-top: 57px;

  .slider-product__item {
    width: 265px;
    background: #fff;
    border-radius: 10px;
  }

  .box__slider__nav {
    color: #fff;

    &.box__slider__nav--next {
      right: -25px;
    }

    &.box__slider__nav--prev {
      left: -25px;
    }
  }
}

.product-box.product-box--min {
  padding: 10px 10px 30px;

  .product-box__img {
    height: 240px;
    display: block;
    position: relative;
  }

  .product-box__fav {
    top: 20px;
    right: 20px;
  }
}

.box__slider__nav.box__slider__nav--transparent {
  background: transparent !important;
}

.banner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 66px;
  margin-bottom: 90px;

  &__item {
    &__link {
      display: block;
      position: relative;
      text-decoration: none;
      color: #fff;

      img {
        display: block;
        position: relative;
        z-index: 1;
        border-radius: 10px;
      }
    }

    &__title {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      text-align: right;
      padding: 45px;
      height: 100%;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      font-size: 36px;
      line-height: 1;

      b {
        display: block;
        font-weight: 500;
      }
    }

    &--full {
      grid-column: span 2;

      & .banner-grid__item__title {
        max-width: calc(50% - 33px);
        font-size: 54px;
      }
    }
  }
}

.form-send {
  padding: 25px 0;
  background: url("../images/dist/bg-send.jpg") 50% 50% no-repeat;
  background-size: cover;

  &__title {
    font-size: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
  }

  &__wrap {
    width: 100%;
    position: relative;
    max-width: 524px;
  }

  &__inp {
    width: 100%;
    display: block;
    height: 65px;
    border-radius: 8px;
    background: #3b057f;
    border: none;
    padding: 10px 165px 10px 32px;
    color: #fff;
    font-size: 12px;
    line-height: 45px;

    &::placeholder {
      opacity: 0.5;
      color: #fff;
    }
  }

  &__send {
    position: absolute;
    right: 8px;
    top: 8px;
    height: 49px;
    font-size: 12px;
  }
}

input:hover,
input:focus,
input:active,
button:hover,
button:active,
button:hover {
  box-shadow: none;
  outline: none !important;
}

.footer {
  background: #0d0d0d;
  padding: 80px 0 50px;

  &__top {
    padding-bottom: 50px;
  }

  &__phone {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.3;
    color: #fff;
    text-decoration: none;
  }

  &__email {
    font-size: 14px;
    line-height: 1.3;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &__marketplace {
    padding-bottom: 30px;

    &__title {
      letter-spacing: 0.1em;
      font-size: 14px;
      line-height: 1.3;
      color: #fff;
      padding-bottom: 15px;
      text-transform: uppercase;
    }

    &__list {
      li {
        padding-right: 15px;

        a {
          height: 48px;
          border-radius: 5px;
          color: #fff;
          background: #252525;
          display: inline-flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background: var(--color-violet);
          }
        }
      }
    }

    &__big {
      width: 110px;
    }

    &__min {
      width: 48px;
    }
  }

  &__nav {
    li:not(:last-child) {
      padding-bottom: 10px;
    }

    a {
      color: #b3b3b3;
      font-size: 12px;
      text-decoration: none;
      line-height: 18px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #fff;
      }
    }
  }

  &__caption {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__body {
    padding-bottom: 60px;
  }

  &__copy {
    color: #b3b3b3;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__webmaster {
    a {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: #b3b3b3;
      line-height: 16px;
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #fff;
      }

      .ico {
        min-width: 21px;
      }

      span {
        padding-left: 15px;
      }
    }
  }

  &__payments {
    li {
      padding-right: 20px;
      color: #b3b3b3;
    }
  }
}

.fpad15 {
  padding-bottom: 15px;
}

.fpad20 {
  padding-bottom: 20px;
}


.header__middle__btn {
  &.collapsed {
    .header__middle__btn__close {
      display: none;
    }
  }

  &:not(.collapsed) {
    .header__middle__btn__open {
      display: none;
    }
  }
}

.header__middle__menu {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;

  &__wrap {
    padding-top: 25px;
    padding-bottom: 70px;
  }

  &__level1 {
    padding-left: 26px;

    a {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 246px;
      padding: 5px 13px 5px 15px;
      transition: all 0.3s ease-in-out;
      color: #000;
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      justify-content: space-between;
      border-radius: 5px;
      height: 34px;
      letter-spacing: 0.1em;

      svg {
        min-width: 5px;
        color: #000;
      }

      &:hover,
      &.active {
        background: #efeff0;
        color: #7f7f7f;
      }
    }
  }

  &__level2 {
    &:not(.active) {
      display: none;
    }

    &__list {
      a {
        display: flex;
        align-items: center;
        height: 34px;
        font-size: 12px;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        color: #000;
        letter-spacing: 0.1em;

        &:hover {
          color: #7f7f7f;
        }

      }
    }

    &__more-link {
      padding-top: 45px;
    }

    &__banner {
      color: #000;

      img {
        border-radius: 10px;
      }

      &__caption {
        padding: 10px;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 500;
      }
    }

    &__banner2 {
      position: relative;
      display: block;

      img {
        border-radius: 10px;
        display: block;
      }

      &__caption {

        font-size: 30px;
        line-height: 1.2;
        color: #fff;
        position: absolute;
        z-index: 10;
        width: 100%;
        bottom: 0;
        right: 0;
        text-align: right;
        text-transform: uppercase;
        padding: 30px;

        b {
          display: block;
          text-transform: none;
          font-weight: 500;
        }
      }
    }
  }
}

.header__middle__menu-new__all {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 303 / 210;
  border-radius: 10px;
  background: var(--color-violet);
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  &:hover {
    background: var(--color-violet2);
    color: #fff;
  }
}

.fpad15 {
  padding-bottom: 15px;
}

.header__middle__inner,
.header__middle__menu__wrap {
  position: relative;
  z-index: 101;
  background: #fff;
}

.header__middle__menu__mask {
  transition: all 0.2s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  opacity: 0;
  background: #000;
}

.header__middle__menu__level2__banner:hover {
  color: #7f7f7f;
}

.header__middle__menu__level2__banner .zoom-hover__img,
.banner-grid__item .zoom-hover__img {
  border-radius: 10px;
}

.show .header__middle__menu__mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  opacity: 0.4;
}

.header__middle__ico-menu__search {
  &.collapsed {
    .search-close {
      display: none;
    }
  }

  &:not(.collapsed) {
    .search-open {
      display: none;
    }
  }
}

.header__search-form {
  position: relative;

  &__inp {
    display: block;
    width: 100%;
    padding: 5px 50px 5px 0;
    height: 65px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e8e8e8;
    font-size: 18px;
    font-weight: bold;
    color: #000;

    &::placeholder {
      opacity: 1;
      color: #7f7f7f;
    }
  }

  &__submit {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #000;
  }
}

.header__search-res__item {
  margin-bottom: 15px;
}

.product-search {
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover {
    color: #7f7f7f;
  }

  .product-tips__item {
    margin-right: 10px;
  }

  &__title {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.3;
    padding-bottom: 5px;
  }

  &__img {
    width: 110px;
    min-width: 110px;
  }

  &__desc {
    flex-grow: 1;
    padding-left: 30px;
  }

}

.header__search-res {
  padding-top: 25px;

  &__footer {
    display: flex;
    justify-content: center;
    padding-top: 10px;

    .btn {
      width: 250px;
      height: 48px;
      font-size: 12px;
      letter-spacing: 0.1em;
    }
  }
}

.header__search-form__clear {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 5px;
  top: 0;
  right: 35px;
  cursor: pointer;
  color: #2c2c2c;

  &:hover {
    color: #7f7f7f;
  }
}

.header__mob-top {
  display: none;
}

.product-day__caption {
  text-transform: uppercase;
  font-weight: bold;
}

.header__mob-menu {
  &__info {
    padding-top: 40px;
  }

  &__phone {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    display: block;
  }

  &__email {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  &__marketplace {
    &__title {
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      line-height: 1.3;
      padding-bottom: 15px;
    }

    &__list {
      li {
        padding-right: 16px;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          background: #efeff0;
          color: #000;
          height: 48px;
        }
      }
    }

    &__big {
      width: 110px;
    }

    &__min {
      width: 48px;
    }
  }
}

.header__mob-top__btn {
  .hamburger-box {
    width: 20px;
  }
}

.header__mob-top__tel {
  margin-right: 20px;
}

.form-send__send__ico,
.footer__bottom__col-copy__mob-link,
.header__middle__ico-menu__mob-caption,
.header__middle__ico-menu__mob-nav {
  display: none;
}

.footer__payments {
  align-items: center;
}

.offcanvas.offcanvas-start {
  border-right: none;
}

.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 13px 20px;
}

.offcanvas-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: #4e1498;
}

button.close {
  border: none;
  padding: 0;
  background: transparent;
  color: #000;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.offcanvas-body {
  padding: 0 13px 30px;
  overflow: hidden;

  .header__middle__menu__level1 a {
    padding-left: 0;
    padding-right: 6px;
  }
}

.tpad40 {
  padding-top: 40px;
}

.offcanvas-header__back {
  padding-right: 15px;
  color: #000;
}

.header__search-not {
  padding-top: 25px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
}

.cookie {
  position: fixed;
  z-index: 30;
  bottom: 20px;
  left: 0;
  right: 0;

  &__wrap {
    display: flex;
    align-items: center;
    padding: 25px 0;
    border-radius: 10px;
    background: #fff;
    position: relative;
    z-index: 30;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  }

  &__ico {
    min-width: 110px;
    display: flex;
    justify-content: center;
  }

  &__desc {
    flex-grow: 1;
    font-size: 12px;
    line-height: 18px;

    a {
      color: #000;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__btn {
    min-width: 160px;
    display: flex;
    justify-content: center;
  }
}

.zoom-hover {
  &__img {
    overflow: hidden;
    border-radius: 10px;

    img {
      transition: all 0.3s ease-in-out;
    }
  }

  &:hover {
    .zoom-hover__img img {
      transform: scale(1.1);
    }
  }
}


.animate__animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animate__fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.breadcrumb {
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #000;
  --bs-breadcrumb-margin-bottom: 25px;

  a {
    color: #000;
    text-decoration: none;
    &:hover {
      color: var(--color-violet);
    }
  }
}

.title-page {
  font-size: 30px;
  letter-spacing: 0.1em;
  line-height: 34px;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  margin-bottom: 25px;
}

.fpad40 {
  padding-bottom: 40px;
}

.banner-grid__item__title {
  .fs-30 {
    font-size: 30px;
  }
}

.category-item {
  &__title {
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 500;
    line-height: 1.3;
    padding: 10px 0 0;
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    .category-item__title {
      color: #7f7f7f;
    }
  }
}

.caption-h2 {
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1.3;
  color: #000;
  padding-bottom: 40px;
}

.fpad70 {
  padding-bottom: 70px;
}

.fpad60 {
  padding-bottom: 60px;
}

@media (min-width: 1199px) {

  .fix_menu {
    .header__middle__wrap {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 200;

      .header__middle__inner {
        padding: 18px 0;
        height: 78px;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
      }

      .header__middle__menu__wrap {
        max-height: calc(100vh - 78px);
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 30px;
      }
    }
  }

}

@media (max-width: 1400px) {
  .header__middle__left .nav li {
    padding-left: 15px;
  }
  .product-day__body {
    height: 175px;
    padding: 15px;
  }
  .full-banner__title {
    font-size: 38px;
  }
}


@media (max-width: 1199px) {
  .breadcrumb {
    padding-top: 15px;
    --bs-breadcrumb-margin-bottom: 15px;
    font-size: 10px;
  }
  .title-page {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .header__middle__ico-menu > li > a {
    min-width: 50px;
  }
  .header__middle__ico-menu {
    margin-left: -5px;
    margin-right: -5px;
  }
  .header__middle__menu__level1 a {
    max-width: 100%;
  }
  .header__middle__menu__level1 a.active,
  .header__middle__menu__level1 a:hover {
    background: transparent;
    color: #000;
  }
  .header__middle__ico-menu__pc-lk {
    display: none;
  }
  .footer {
    padding-bottom: 80px;
  }
  .header__middle__ico-menu > li:not(:first-child) {
    padding-left: 0;
  }
  .header__middle__ico-menu__mob-nav {
    display: block;
  }
  .header__middle__ico-menu__mob-caption {
    display: block;
    text-align: center;
    font-size: 10px;
    line-height: 1.2;
    padding-top: 5px;
  }
  .header__middle__ico-menu > li > a {
    flex-direction: column;
  }
  .full-banner__title {
    font-size: 24px;
    padding-bottom: 20px;

    .btn {
      display: flex;
      margin: 10px auto 0;
      width: 116px;
    }
  }
  .full-banner__slider .slider-product__item {
    width: 210px;
  }
  .full-banner {
    margin-bottom: 50px;
  }
  .full-banner__wrap {
    margin-top: -160px;
  }
  .full-banner__slider {
    padding: 0;
  }
  .full-banner__desc {
    padding: 0;
  }
  .full-banner__slider {
    margin-top: 0;

    .swiper {
      overflow: visible;
    }
  }
  .full-banner__wrap .row {
    height: auto;
  }
  .full-banner__pic {
    margin-left: -13px;
    margin-right: -13px;

    img {
      border-radius: 0;
      width: 100%;
      height: 220px;
      object-fit: cover;
    }
  }
  .main {
    padding-top: 52px;
  }
  .header__top {
    display: none;
  }
  .header__middle__left > .nav {
    display: none;
  }
  .home-sliders {
    margin-bottom: 20px;
  }
  .product-day__body {
    height: 195px;
  }
  .home-cat-list .swiper {
    overflow: visible;
  }
  .home-cat-list .swiper-wrapper {
    justify-content: flex-start;

    .home-cat-list__item {
      margin: 0;

    }
  }
  .full-banner__desc {
    padding-left: 0;
  }
  .banner-grid {
    gap: 30px;
  }
  .banner-grid__item__title {
    font-size: 24px;
  }
  .banner-grid__item--full .banner-grid__item__title {
    font-size: 38px;
    max-width: calc(50% - 15px);
  }
  .banner-grid__item__title {
    padding: 30px 15px;
  }
  .header__middle__left,
  .header__middle__col-logo {
    display: none;
  }
  .header__mob-top {
    display: block;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding-top: 14px;
    padding-bottom: 14px;
   /* border-bottom: 1px solid #ebebeb;*/
  }
  .header__middle {

    .header__middle__inner {
      height: auto;
      padding: 10px 0;
      position: fixed;
      z-index: 50;
      bottom: 0;
      left: 0;
      right: 0;
      background: #fff;
      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    }

    .header__middle__ico-menu {
      justify-content: space-between;
    }
  }
  .header__mob-top__btn {
    & .hamburger-inner,
    & .hamburger-inner:after {
      background: #000;
      width: 100%;
    }

    & .hamburger-inner:before {
      background: #000;
      width: 75%;
      right: 0;
    }
  }
  .header__middle__menu__wrap {
    padding: 0 0 30px;
    max-height: calc(100vh - 52px);
    overflow-x: hidden;
    overflow-y: auto;
  }
  .header__middle__menu__level1 {
    padding-left: 0;
  }
  .header__mob-top {
    .header__middle__menu__level1 a {
      max-width: 100%;
      padding-left: 0;
      padding-right: 8px;
    }
  }
  .line {
    height: 1px;
    background: #e8e8e8;
    margin-bottom: 5px;
    margin-top: 4px;
  }
  .product-box__col-price {
    flex-direction: column;

    .price--old {
      margin: 0 auto;
    }

    .price--hot {
      text-align: center;
    }
  }
  .cabinet-active {
    position: absolute;
    z-index: 10;
    top: -4px;
    left: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    background: var(--color-violet);
    border-radius: 5px;
  }
  .cookie {
    bottom: 80px;
  }
}

@media (min-width: 992px) {
  .footer__mob-collapse {
    display: block !important;
  }
}

@media (max-width: 991px) {
  .banner-grid__item__title .fs-30 {
    font-size: 24px;
    line-height: 1.3;
  }
  .fpad40 {
    padding-bottom: 20px;
  }
  .fpad30 {
    padding-bottom: 15px;
  }
  .caption-h2 {
    padding-bottom: 15px;
    font-size: 24px;
  }
  .fpad70 {
    padding-bottom: 30px;
  }

  .header__search-not {
    padding-top: 15px;
    font-size: 12px;
  }
  .header__search-res__footer .btn {
    height: 36px;
    font-size: 10px;
    width: 230px;
  }
  .header__search-form__inp {
    height: 46px;
    font-size: 13px;
  }
  .product-search__desc {
    padding-left: 16px;

    .product-tips {
      padding-bottom: 5px;
    }
  }
  .product-search__title {
    font-size: 12px;
    padding-bottom: 10px;
  }
  .product-search {
    align-items: flex-start;
    margin-bottom: 25px;
  }
  .product-search__img {
    min-width: 64px;
    width: 64px;
    height: 64px;
  }
  .footer__bottom__col-copy {
    order: 2;
  }
  .mob-fpad0 {
    padding-bottom: 0;
  }
  .footer__body__col-info {
    order: 2;
  }
  .footer {
    padding-top: 50px;

    .footer__top {
      display: flex;
      justify-content: center;
      padding-bottom: 40px;

      .footer__logo svg {
        width: 120px;
        height: 19px;
      }
    }

    &__caption {
      padding-top: 10px;
    }
  }
  .form-send__title {
    font-size: 14px;
    padding-bottom: 20px;
  }
  .box-slider__title {
    text-align: left;
  }
  .full-banner__pic img {
    height: 220px;
    min-height: 220px;
  }
  .box-slider .slider-product .slider-product__item {
    width: 210px;
  }
  .product-box__img {
    height: 210px;
  }
  .product-box__body {
    padding-top: 0;
  }
  .product-box__art {
    line-height: 1.1;
  }
  .product-box__sub-title {
    font-size: 10px;
  }
  .product-box__title {
    font-size: 12px;
  }
  .slider-product {
    overflow: visible;
  }
  .box-slider {
    padding-bottom: 50px;
  }
  .box__slider__nav {
    display: none;
  }
  .full-banner__wrap {
    position: relative;
    left: auto;
    top: auto;
  }
  .footer__mob-acc {
    border-bottom: 1px solid #252525;
  }
  .footer__body__col-info {
    padding-top: 25px;
    text-align: center;
  }
  .footer__marketplace__list {
    padding-left: 15px;
    justify-content: center;
  }
  .footer__body {
    padding-bottom: 0;
  }
  .footer__bottom {
    text-align: center;
  }
  .footer__bottom__web {
    order: 3;
    display: flex;
    justify-content: center;
  }
  .footer__payments {
    justify-content: center;
    padding: 15px 0 15px 20px;
    border-bottom: 1px solid #252525;
    border-top: 1px solid #252525;
  }
  .footer__webmaster {
    text-align: left;
  }
  .footer__bottom__col-copy__mob-link {
    display: block;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .footer__copy {
    padding-bottom: 20px;
    color: #fff;
  }
  .footer__caption {
    .dropdown__line {
      transition: all 0.2s ease-in-out;
    }

    &:not(.collapsed) {
      .dropdown__line {
        transform: rotate(180deg);
      }
    }
  }
  .footer__mob-collapse {
    .footer__nav {
      margin-bottom: 15px;
    }
  }

}

@media (max-width: 768px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
     & > * {
       padding-left: 8px;
       padding-right: 8px;
     }
  }
  .full-banner__title {
    padding-bottom: 0;
  }
  .full-banner__slider {
    padding-top: 20px;
  }
  .cookie__wrap {
    text-align: center;
    flex-direction: column;
    padding: 20px 15px;
  }
  .cookie__ico {
    width: 100%;
    padding-bottom: 10px;
  }
  .cookie__btn {
    width: 100%;
    padding-top: 20px;
  }
  .cookie__desc {
    font-size: 11px;
  }
  .footer__caption {
    font-size: 12px;
    line-height: 1;
  }
  .footer__email,
  .footer__marketplace__title {
    font-size: 12px;
  }
  .footer__nav a {
    display: block;
  }
  .footer__phone {
    font-size: 16px;
  }
  .banner-grid {
    display: block;
    margin-bottom: 40px;

    &__item {
      margin-bottom: 10px;
    }
  }
  .banner-grid__item--full .banner-grid__item__title {
    max-width: 100%;
    font-size: 24px;
  }

}

@media (max-width: 575px) {
  .form-send {
    background-image: url("../images/dist/bg-send-mob.jpg");
  }
  .home-sliders {
    margin-left: -13px;
    margin-right: -13px;

    .box__slider__nav {
      display: none;
    }
  }
  .home-sliders__pagination {
    bottom: 15px !important;
  }
  .home-sliders__item {
    border-radius: 0;
  }
  .product-day__timer {
    min-width: 100px;
    padding-right: 25px;
    background-position: right 5px top 50%;
  }
  .product-day__body {
    height: auto;
    min-height: 143px;
    padding: 20px 5px;
  }
  .product-day__img {
    width: 95px;
    min-width: 95px;
    height: 100px;
  }
  .product-day__desc {
    padding-left: 6px;
  }
  .fpad30 {
    padding-bottom: 15px;
  }
  .home-cat-list {
    padding-bottom: 45px;
  }
  .box-slider__title {
    text-align: left;
    font-size: 18px;
  }
  .box-slider__header {
    padding-bottom: 20px;
  }
  .form-send__send__text {
    display: none;
  }
  .form-send__send__ico {
    display: block;
  }
  .form-send__send {
    width: 36px;
    height: 36px;
    padding: 0;
    top: 6px;
    right: 6px;
  }
  .form-send__inp {
    padding: 5px 60px 5px 15px;
    height: 48px;
  }


}
