@use 'mixins';

body {
  font-family: 'Gotham Pro', sans-serif;
  color: #000;
}

.main {
  overflow: hidden;
  width: 100%;
}

.rur {
  font-family: 'als';
  text-transform: none;
}

a {
  color: #000;
  text-decoration: none;
}

.header__top {
  background: #efeff0;
  padding: 10px 0;

  &__menu {
    li:not(:last-child) {
      padding-right: 20px;
    }

    a {
      display: block;
      height: 28px;
      font-size: 11px;
      line-height: 28px;
      text-transform: uppercase;
      letter-spacing: 0.1em;

      &:hover {
        color: #7f7f7f;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .ico-link {
      margin-left: 30px;
      white-space: nowrap;
    }
  }

  &__phone {
    margin-right: 5px;
    font-size: 12px;
    line-height: 28px;
    font-weight: bold;
  }
}

.ico-link {
  display: inline-flex;
  align-items: center;
  font-size: 11px;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  svg {
    margin-right: 10px;
    color: #757575;
  }

  &:hover {
    svg {
      color: var(--color-violet);
    }
  }
}

.header__middle__btn {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  width: 125px;
  min-width: 125px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: var(--color-violet);
  height: 42px;
  border-radius: 5px;

  .hamburger-box {
    width: 18px;
    min-width: 18px;
    margin-right: 10px;
  }

  &:hover {
    background: var(--color-violet2);
  }
}

.header__middle {
  padding: 30px 0;
  height: 102px;

  &__left {
    display: flex;
    align-items: center;

    .nav {
      margin-left: 10px;

      li {
        padding-left: 30px;

        a {
          font-size: 12px;
          font-weight: 500;
          line-height: 24px;
          text-transform: uppercase;
          letter-spacing: 0.1em;

          &:hover {
            color: #7f7f7f;
          }
        }
      }
    }
  }

  &__ico-menu {
    justify-content: flex-end;
    align-items: center;

    & > li:not(:first-child) {
      padding-left: 30px;
    }

    & > li > a {
      display: flex;
      align-items: center;
      position: relative;
      color: #000;
      text-decoration: none;

      &:hover {
        color: #757575;

        .header__middle__ico-menu__count {
          background: var(--color-violet2);
        }
      }
    }

    &__count {
      position: absolute;
      z-index: 10;
      left: 50%;
      display: inline-flex;
      height: 16px;
      border-radius: 8px;
      border: 1px solid #fff;
      background: var(--color-violet);
      color: #fff;
      min-width: 16px;
      padding: 0 4px;
      text-align: center;
      top: -6px;
      font-size: 10px;
      font-weight: 500;
    }
  }

  &__lk {
    position: relative;

    &__name {
      font-size: 12px;
      line-height: 20px;
      white-space: nowrap;
      font-weight: 500;
      padding: 0 0 0 15px;
      position: relative;
      display: flex;
      align-items: center;
    }
  }

  .dropdown > a {
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
      color: #757575;
    }
  }

  .dropdown__line {
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
  }
}

.box__slider {
  position: relative;

  &__nav {
    position: absolute;
    z-index: 10;
    top: 50%;
    width: 48px;
    height: 48px;
    margin-top: -24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 24px;
    padding: 0;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);

    &:hover {
      color: #4e1498;
    }

    &--next {
      right: 15px;
    }

    &--prev {
      left: 15px;
    }
  }
}

.home-sliders {
  &__item {
    display: block;
    border-radius: 10px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__pagination {
    position: absolute;
    z-index: 1;
    bottom: 15px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;

    .swiper-pagination-bullet {
      width: 8px;
      border-radius: 4px;
      margin: 0 5px;
      opacity: 1;
      background: #fff;

      &.swiper-pagination-bullet-active {
        background: #1d1d1b;
      }
    }
  }

  .box__slider__nav {
    opacity: 0;
  }

  &:hover {
    .box__slider__nav {
      opacity: 1;
    }
  }
}

.home-top-banner {
  display: block;
  margin-bottom: 15px;

  img {
    display: block;
    border-radius: 10px;
  }
}

.product-day {
  position: relative;

  &__header {
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 36px;
    position: relative;
    z-index: 10;
    justify-content: space-between;
  }

  &__body {
    position: relative;
    z-index: 1;
    height: 206px;
    padding: 30px;
    border: 2px solid #000;
    margin-top: -19px;
    display: flex;
    align-items: center;
    border-radius: 10px;

    &:hover {
      color: #7f7f7f;
    }
  }

  &__caption {
    padding: 0 5px;
    background: #fff;
    position: relative;
    z-index: 10;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 36px;
    white-space: nowrap;
    font-size: 14px;
    color: #000;
  }

  &__timer {
    padding: 0 32px 0 5px;
    min-width: 115px;
    font-weight: bold;
    letter-spacing: 0.1em;
    position: relative;
    z-index: 10;
    white-space: nowrap;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 469.33 469.33'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B stroke-width: 0px; fill: %234e1498; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cpath class='cls-1' d='m234.67,0C105.06,0,0,105.06,0,234.67s105.06,234.67,234.67,234.67,234.67-105.06,234.67-234.67C469.18,105.13,364.21.15,234.67,0Zm79.08,313.75c-8.33,8.33-21.83,8.33-30.17,0l-64-64c-4-4-6.25-9.43-6.25-15.08V106.67c0-11.78,9.55-21.33,21.33-21.33s21.33,9.55,21.33,21.33v119.17l57.75,57.75c8.33,8.33,8.33,21.83,0,30.17h0Z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 16px 16px;
  }

  &__img {
    min-width: 110px;
  }

  &__desc {
    flex-grow: 1;
    padding-left: 20px;
  }

  &__sale {
    display: inline-flex;
    align-items: center;
    padding: 0 5px;
    height: 20px;
    background: var(--color-violet);
    color: #fff;
    font-weight: bold;
    font-size: 12px;
  }

  &__title {
    padding: 5px 0;
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
  }

  &__cost {
    padding-top: 15px;
  }


}

.prices {
  display: flex;
  align-items: center;
}

.price {
  font-weight: bold;
  line-height: 18px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;

  &--old {
    color: #b9b9b9;
    font-size: 14px;
    margin-right: 6px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 8px;
      left: 0;
      height: 1px;
      width: 100%;
      background: #fe4343;
    }
  }

  &--hot {
    font-size: 16px;
    color: #000;
  }
}

.fpad30 {
  padding-bottom: 30px;
}

.home-cat-list {
  padding-bottom: 70px;

  .swiper-slide {
    width: auto;
  }

  .swiper-wrapper {
    justify-content: center;
  }

  &__item {
    display: block;
    margin: 0 13px;
    width: 84px;
    text-decoration: none;
    text-align: center;
    color: #000;

    &:hover {
      color: #7f7f7f;
    }

    &__img {
      width: 84px;
      height: 84px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 42px;
      border: 2px solid var(--color-violet);

      img {
        display: block;
        border-radius: 32px;
        object-fit: cover;
        width: 64px;
        height: 64px;
      }
    }

    &__title {
      padding-top: 6px;
      font-size: 12px;
      line-height: 16px;
    }
  }

}

.box-slider {
  padding-bottom: 100px;

  &__header {
    align-items: center;
    padding-bottom: 45px;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 24px;
    text-align: center;
  }

  &__col-link {
    text-align: right;
  }

  &__more-link {
    font-weight: 500;
    letter-spacing: 0.1em;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #000;
  }

  .slider-product {
    .slider-product__item {
      width: 304px;
      margin-right: 26px;
    }
  }

  &__body {
    position: relative;

    .box__slider__nav--prev {
      left: -24px;
    }

    .box__slider__nav--next {
      right: -24px;
    }
  }
}

.slider-product__item {
  height: auto;
  display: flex;
  flex-direction: column;
}

.product-box {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__fav {
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 10px;
    background: transparent;
    border: none;
    color: #7f7f7f;
  }

  &__tips {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
  }

  &__img {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 310px;

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      object-fit: contain;
    }
  }

  &__body {
    flex-grow: 1;
    padding: 5px 0;
    text-align: center;
    color: #000000;
    text-decoration: none;
    display: block;

    &:hover {
      color: #7f7f7f;
    }
  }

  &__art {
    padding-bottom: 10px;
    font-size: 10px;
    letter-spacing: 0.1em;
    color: #000000;

    &__val {
      font-weight: 400;
      color: #757575;
    }
  }

  &__title {
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    padding-bottom: 10px;
  }

  &__sub-title {
    color: #757575;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.1em;
    padding-bottom: 10px;
  }

  &__footer {
    display: flex;
    align-items: center;
  }

  &__col-price {
    width: 50%;
    justify-content: center;
    display: flex;

  }

  &__col-btn {
    width: 50%;
  }

}

.product-tips {
  flex-direction: column;

  li {
    padding-bottom: 5px;
    display: flex;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    padding: 0 5px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #fff;

    &--new {
      background: #baa37a;
    }

    &--must-have {
      background: var(--color-violet);
    }

    &--sale {
      background: var(--color-violet);
    }
  }

}

.btn {
  height: 36px;
  padding: 5px 15px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 1.2;
  display: inline-flex;

  &--bay {
    background: var(--color-violet);

    &:hover {
      background: var(--color-violet2);
      color: #fff;
    }
  }

  &--black {
    background: #000;

    &:hover {
      background: #fff;
      color: #000;
    }
  }

}

.header {
  display: block !important;
  position: relative;


}

.header__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__logo {
  padding-top: 0;
}

.header__slogan {
  width: calc(100% - 180px);
  padding-top: 20px;
}

.box__slider__nav.box__slider__nav--silver {
  background: #eee;
}

.swiper-button-disabled {
  visibility: hidden;
  opacity: 0;
}

.full-banner {
  position: relative;
  margin: 0 0 75px;

  &__pic {
    position: relative;
    z-index: 1;
    margin: 0 -42px;

    img {
      width: 100%;
      height: 470px;
      object-fit: cover;
      object-position: left center;
      border-radius: 10px;
      display: block;
    }
  }

  &__wrap {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;

    .row {
      height: 470px;
    }
  }

  &__desc {
    padding: 165px 35px 30px 15px;
    text-align: right;
    color: #fff;
  }

  &__title {
    font-size: 44px;
    line-height: 1.2;
    margin-bottom: 10px;

    b {
      display: block;
      font-weight: 500;
    }
  }
}

.full-banner__slider {
  position: relative;
  padding: 0 20px;
  margin-top: 57px;

  .slider-product__item {
    width: 265px;
    margin-right: 66px;
    background: #fff;
    border-radius: 10px;
  }

  .box__slider__nav {
    color: #fff;

    &.box__slider__nav--next {
      right: -25px;
    }

    &.box__slider__nav--prev {
      left: -25px;
    }
  }
}

.product-box.product-box--min {
  padding: 10px 10px 30px;

  .product-box__img {
    height: 240px;
    position: relative;
  }

  .product-box__fav {
    top: 20px;
    right: 20px;
  }
}

.box__slider__nav.box__slider__nav--transparent {
  background: transparent !important;
}

.banner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 66px 60px;
  margin-bottom: 90px;

  &__item {
    &__link {
      display: block;
      position: relative;
      text-decoration: none;
      color: #fff;

      img {
        display: block;
        position: relative;
        z-index: 1;
        border-radius: 10px;
      }
    }

    &__title {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      text-align: right;
      padding: 45px;
      height: 100%;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      font-size: 36px;
      line-height: 1;

      b {
        display: block;
        font-weight: 500;
      }
    }

    &--full {
      grid-column: span 2;

      & .banner-grid__item__title {
        max-width: calc(50% - 33px);
        font-size: 54px;
      }
    }
  }
}

.form-send {
  padding: 25px 0;
  background: url("../images/dist/bg-send.jpg") 50% 50% no-repeat;
  background-size: cover;

  &__title {
    font-size: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
  }

  &__wrap {
    width: 100%;
    position: relative;
    max-width: 524px;
  }

  &__inp {
    width: 100%;
    display: block;
    height: 65px;
    border-radius: 8px;
    background: #3b057f;
    border: none;
    padding: 10px 165px 10px 32px;
    color: #fff;
    font-size: 12px;
    line-height: 45px;

    &::placeholder {
      opacity: 0.5;
    }
  }

  &__send {
    position: absolute;
    right: 8px;
    top: 8px;
    height: 49px;
    font-size: 12px;
  }
}

input:hover,
input:focus,
input:active,
button:hover,
button:active,
button:hover {
  box-shadow: none;
  outline: none !important;
}

.footer {
  background: #0d0d0d;
  padding: 80px 0 50px;

  &__top {
    padding-bottom: 50px;
  }

  &__phone {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.3;
    color: #fff;
    text-decoration: none;
  }

  &__email {
    font-size: 14px;
    line-height: 1.3;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &__marketplace {
    padding-bottom: 30px;

    &__title {
      letter-spacing: 0.1em;
      font-size: 14px;
      line-height: 1.3;
      color: #fff;
      padding-bottom: 15px;
      text-transform: uppercase;
    }

    &__list {
      li {
        padding-right: 15px;

        a {
          height: 48px;
          border-radius: 5px;
          color: #fff;
          background: #252525;
          display: inline-flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background: var(--color-violet);
          }
        }
      }
    }

    &__big {
      width: 110px;
    }

    &__min {
      width: 48px;
    }
  }

  &__nav {
    li:not(:last-child) {
      padding-bottom: 10px;
    }

    a {
      color: #b3b3b3;
      font-size: 12px;
      text-decoration: none;
      line-height: 18px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #fff;
      }
    }
  }

  &__caption {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__body {
    padding-bottom: 60px;
  }

  &__copy {
    color: #b3b3b3;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__webmaster {
    a {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: #b3b3b3;
      line-height: 16px;
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #fff;
      }

      .ico {
        min-width: 21px;
      }

      span {
        padding-left: 15px;
      }
    }
  }

  &__payments {
    li {
      padding-right: 20px;
      color: #b3b3b3;
    }
  }
}

.fpad15 {
  padding-bottom: 15px;
}

.fpad20 {
  padding-bottom: 20px;
}

.header__middle__menu {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;

  &__wrap {
    padding-top: 25px;
    padding-bottom: 70px;
  }

  &__level1 {
    padding-left: 26px;

    a {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 246px;
      padding: 5px 13px 5px 15px;
      transition: all 0.3s ease-in-out;
      color: #000;
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      justify-content: space-between;
      border-radius: 5px;
      height: 34px;

      svg {
        min-width: 5px;
        color: #000;
      }

      &:hover,
      &.active {
        background: #efeff0;
        color: #7f7f7f;
      }
    }
  }

  &__level2 {
    &:not(.active) {
      display: none;
    }
    &__list {
      a {
        display: flex;
        align-items: center;
        height: 34px;
        font-size: 12px;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        color: #000;
        &:hover {
          color: #7f7f7f;
        }

      }
    }
    &__more-link {
      padding-top: 45px;
    }
    &__banner {
      color: #000;
      img {
        border-radius: 10px;
      }
      &__caption {
        padding: 10px;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 500;
      }
    }
  }
}
