@use 'mixins';

body {
  font-family: 'Gotham Pro', sans-serif;
  color: #000;
}

.main {
  overflow: hidden;
  width: 100%;
}

.rur {
  font-family: 'als';
  text-transform: none;
}

a {
  color: #000;
  text-decoration: none;
}

.header__top {
  background: #efeff0;
  padding: 10px 0;
  position: relative;
  z-index: 101;

  &__menu {
    li:not(:last-child) {
      padding-right: 20px;
    }

    a {
      display: block;
      height: 28px;
      font-size: 11px;
      line-height: 28px;
      text-transform: uppercase;
      letter-spacing: 0.1em;

      &:hover {
        color: #7f7f7f;
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .ico-link {
      margin-left: 30px;
      white-space: nowrap;
    }
  }

  &__phone {
    margin-right: 5px;
    font-size: 12px;
    line-height: 28px;
    font-weight: bold;
  }
}

.ico-link {
  display: inline-flex;
  align-items: center;
  font-size: 11px;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  svg {
    margin-right: 10px;
    color: #757575;
  }

  &:hover {
    svg {
      color: var(--color-violet);
    }
  }
}

.header__middle__btn {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  width: 125px;
  min-width: 125px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: var(--color-violet);
  height: 42px;
  border-radius: 5px;

  .hamburger-box {
    width: 18px;
    min-width: 18px;
    margin-right: 10px;
  }

  &:hover {
    background: var(--color-violet2);
  }
}

.header__middle {


  &__inner {
    padding: 30px 0;
    height: 102px;
  }

  &__left {
    display: flex;
    align-items: center;

    .nav {
      margin-left: 10px;

      li {
        padding-left: 30px;

        a {
          font-size: 12px;
          font-weight: 500;
          line-height: 24px;
          text-transform: uppercase;
          letter-spacing: 0.1em;

          &:hover {
            color: #7f7f7f;
          }
        }
      }
    }
  }

  &__ico-menu {
    justify-content: flex-end;
    align-items: center;

    & > li:not(:first-child) {
      padding-left: 30px;
    }

    & > li > a {
      display: flex;
      align-items: center;
      position: relative;
      color: #000;
      text-decoration: none;

      &:hover {
        color: #757575;

        .header__middle__ico-menu__count {
          background: var(--color-violet2);
        }
      }
    }

    &__count {
      position: absolute;
      z-index: 10;
      left: 50%;
      display: inline-flex;
      height: 16px;
      border-radius: 8px;
      border: 1px solid #fff;
      background: var(--color-violet);
      color: #fff;
      min-width: 16px;
      padding: 0 4px;
      text-align: center;
      top: -6px;
      font-size: 10px;
      font-weight: 500;
    }
  }

  &__lk {
    position: relative;

    &__name {
      font-size: 12px;
      line-height: 20px;
      white-space: nowrap;
      font-weight: 500;
      padding: 0 0 0 15px;
      position: relative;
      display: flex;
      align-items: center;
    }
  }

  .dropdown > a {
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
      color: #757575;
    }
  }

  .dropdown__line {
    margin-left: 10px;
    transition: all 0.2s ease-in-out;
  }
}

.box__slider {
  position: relative;

  &__nav {
    position: absolute;
    z-index: 10;
    top: 50%;
    width: 48px;
    height: 48px;
    margin-top: -24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 24px;
    padding: 0;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);

    &:hover {
      color: #4e1498;
    }

    &--next {
      right: 15px;
    }

    &--prev {
      left: 15px;
    }
  }
}

.home-sliders {
  &__item {
    display: block;
    border-radius: 10px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__pagination {
    position: absolute;
    z-index: 1;
    bottom: 15px;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;

    .swiper-pagination-bullet {
      width: 8px;
      border-radius: 4px;
      margin: 0 5px;
      opacity: 1;
      background: #fff;

      &.swiper-pagination-bullet-active {
        background: #1d1d1b;
      }
    }
  }

  .box__slider__nav {
    opacity: 0;
  }

  &:hover {
    .box__slider__nav {
      opacity: 1;
    }
  }
}

.home-top-banner {
  display: block;
  margin-bottom: 15px;

  img {
    display: block;
    border-radius: 10px;
  }
}

.product-day {
  position: relative;

  &__header {
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 36px;
    position: relative;
    z-index: 10;
    justify-content: space-between;
  }

  &__body {
    position: relative;
    z-index: 1;
    height: 206px;
    padding: 30px;
    border: 2px solid #000;
    margin-top: -19px;
    display: flex;
    align-items: center;
    border-radius: 10px;

    &:hover {
      color: #7f7f7f;
    }
  }

  &__caption {
    padding: 0 5px;
    background: #fff;
    position: relative;
    z-index: 10;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 36px;
    white-space: nowrap;
    font-size: 14px;
    color: #000;
  }

  &__timer {
    padding: 0 32px 0 5px;
    min-width: 115px;
    font-weight: bold;
    letter-spacing: 0.1em;
    position: relative;
    z-index: 10;
    white-space: nowrap;
    font-size: 14px;
    color: #000;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 469.33 469.33'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B stroke-width: 0px; fill: %234e1498; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cpath class='cls-1' d='m234.67,0C105.06,0,0,105.06,0,234.67s105.06,234.67,234.67,234.67,234.67-105.06,234.67-234.67C469.18,105.13,364.21.15,234.67,0Zm79.08,313.75c-8.33,8.33-21.83,8.33-30.17,0l-64-64c-4-4-6.25-9.43-6.25-15.08V106.67c0-11.78,9.55-21.33,21.33-21.33s21.33,9.55,21.33,21.33v119.17l57.75,57.75c8.33,8.33,8.33,21.83,0,30.17h0Z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 16px 16px;
  }

  &__img {
    min-width: 110px;
  }

  &__desc {
    flex-grow: 1;
    padding-left: 20px;
  }

  &__sale {
    display: inline-flex;
    align-items: center;
    padding: 0 5px;
    height: 20px;
    background: var(--color-violet);
    color: #fff;
    font-weight: bold;
    font-size: 12px;
  }

  &__title {
    padding: 5px 0;
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
  }

  &__cost {
    padding-top: 15px;
  }


}

.prices {
  display: flex;
  align-items: center;
}

.price {
  font-weight: bold;
  line-height: 18px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;

  &--old {
    color: #b9b9b9;
    font-size: 14px;
    margin-right: 6px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 8px;
      left: 0;
      height: 1px;
      width: 100%;
      background: #fe4343;
    }
  }

  &--hot {
    font-size: 16px;
    color: #000;
  }
}

.fpad30 {
  padding-bottom: 30px;
}

.home-cat-list {
  padding-bottom: 70px;

  .swiper-slide {
    width: auto;
  }

  .swiper-wrapper {
    justify-content: center;
  }

  &__item {
    display: block;
    margin: 0 13px;
    width: 84px;
    text-decoration: none;
    text-align: center;
    color: #000;
    padding-top: 5px;

    &:hover {
      color: #7f7f7f;

      .home-cat-list__item__img {
        transform: scale(1.05);
        opacity: 0.8;
      }
    }

    &__img {
      width: 84px;
      height: 84px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: all 0.2s ease-in-out;
      border: 2px solid var(--color-violet);

      img {
        display: block;
        border-radius: 32px;
        object-fit: cover;
        width: 64px;
        height: 64px;
      }
    }

    &__title {
      padding-top: 6px;
      font-size: 12px;
      line-height: 16px;
    }
  }

}

.box-slider {
  padding-bottom: 100px;

  &__header {
    align-items: center;
    padding-bottom: 45px;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 24px;
    text-align: center;
  }

  &__col-link {
    text-align: right;
  }

  &__more-link {
    font-weight: 500;
    letter-spacing: 0.1em;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #000;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #7f7f7f;
    }
  }

  .slider-product {
    .slider-product__item {
      width: 304px;
    }
  }

  &__body {
    position: relative;

    .box__slider__nav--prev {
      left: -24px;
    }

    .box__slider__nav--next {
      right: -24px;
    }
  }
}

.slider-product__item {
  height: auto;
  display: flex;
  flex-direction: column;
}

.product-box {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__fav {
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 10px;
    background: transparent;
    border: none;
    color: #7f7f7f;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #4e1498;
    }
  }

  &__tips {
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 10px;
  }

  &__img {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 310px;
    position: relative;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &__hover {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 3;
      background: #fff;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease-in-out;
      opacity: 0;
      visibility: hidden;
    }

    &:hover {
      .product-box__img__hover {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__body {
    flex-grow: 1;
    padding: 5px 0;
    text-align: center;
    color: #000000;
    text-decoration: none;
    display: block;

    &:hover {
      color: #7f7f7f;
    }
  }

  &__art {
    padding-bottom: 10px;
    font-size: 10px;
    letter-spacing: 0.1em;
    color: #000000;

    &__val {
      font-weight: 400;
      color: #757575;
    }
  }

  &__title {
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    padding-bottom: 10px;
  }

  &__sub-title {
    color: #757575;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.1em;
    padding-bottom: 10px;
  }

  &__footer {
    display: flex;
    align-items: center;
  }

  &__col-price {
    width: 50%;
    justify-content: center;
    display: flex;

  }

  &__col-btn {
    width: 50%;
  }

}

.product-tips {
  flex-direction: column;

  li {
    padding-bottom: 5px;
    display: flex;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    padding: 0 5px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #fff;

    &--new {
      background: #baa37a;
    }

    &--must-have {
      background: #A7A4E0;
    }

    &--sale {
      background: var(--color-violet);
    }
  }

}

.btn {
  height: 36px;
  padding: 5px 15px;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 1.2;
  display: inline-flex;

  &.btn--bay {
    background: var(--color-violet);
    border: none;

    &:hover,
    &:active,
    &:focus {
      background: var(--color-violet2);
      color: #fff;
      border: none;
    }
  }

  &--black {
    background: #000;

    &:hover {
      background: #fff;
      color: #000;
    }
  }

  &.btn--big {
    height: 48px;
    padding: 10px 25px;
    font-size: 12px;
    font-weight: bold;
  }

}

.header {
  display: block !important;
  position: relative;
}

.header__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__logo {
  padding-top: 0;
}

.header__slogan {
  width: calc(100% - 180px);
  padding-top: 20px;
}

.box__slider__nav.box__slider__nav--silver {
  background: #eee;
}

.swiper-button-disabled {
  visibility: hidden;
  opacity: 0;
}

.full-banner {
  position: relative;
  margin: 0 0 75px;

  &__pic {
    position: relative;
    z-index: 1;
    margin: 0 -42px;

    img {
      width: 100%;
      height: 470px;
      object-fit: cover;
      object-position: left center;
      border-radius: 10px;
      display: block;
    }
  }

  &__wrap {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;

    .row {
      height: 470px;
    }
  }

  &__desc {
    padding: 165px 35px 30px 15px;
    text-align: right;
    color: #fff;
  }

  &__title {
    font-size: 44px;
    line-height: 1.2;
    margin-bottom: 10px;

    b {
      display: block;
      font-weight: 500;
    }
  }
}

.full-banner__slider {
  position: relative;
  padding: 0 20px;
  margin-top: 57px;

  .slider-product__item {
    width: 265px;
    background: #fff;
    border-radius: 10px;
  }

  .box__slider__nav {
    color: #fff;

    &.box__slider__nav--next {
      right: -25px;
    }

    &.box__slider__nav--prev {
      left: -25px;
    }
  }
}

.product-box.product-box--min {
  padding: 10px 10px 30px;

  .product-box__img {
    height: 240px;
    display: block;
    position: relative;
  }

  .product-box__fav {
    top: 20px;
    right: 20px;
  }
}

.box__slider__nav.box__slider__nav--transparent {
  background: transparent !important;
}

.banner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 66px;
  margin-bottom: 90px;

  &__item {
    &__link {
      display: block;
      position: relative;
      text-decoration: none;
      color: #fff;

      img {
        display: block;
        position: relative;
        z-index: 1;
        border-radius: 10px;
      }
    }

    &__title {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      text-align: right;
      padding: 45px;
      height: 100%;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      font-size: 36px;
      line-height: 1;

      b {
        display: block;
        font-weight: 500;
      }
    }

    &--full {
      grid-column: span 2;

      & .banner-grid__item__title {
        max-width: calc(50% - 33px);
        font-size: 54px;
      }
    }
  }
}

.form-send {
  padding: 25px 0;
  background: url("../images/dist/bg-send.jpg") 50% 50% no-repeat;
  background-size: cover;

  &__title {
    font-size: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
  }

  &__wrap {
    width: 100%;
    position: relative;
    max-width: 524px;
  }

  &__inp {
    width: 100%;
    display: block;
    height: 65px;
    border-radius: 8px;
    background: #3b057f;
    border: none;
    padding: 10px 165px 10px 32px;
    color: #fff;
    font-size: 12px;
    line-height: 45px;

    &::placeholder {
      opacity: 0.5;
      color: #fff;
    }
  }

  &__send {
    position: absolute;
    right: 8px;
    top: 8px;
    height: 49px;
    font-size: 12px;
  }
}

input:hover,
input:focus,
input:active,
button:hover,
button:active,
button:hover {
  box-shadow: none;
  outline: none !important;
}

.footer {
  background: #0d0d0d;
  padding: 80px 0 50px;

  &__top {
    padding-bottom: 50px;
  }

  &__phone {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.3;
    color: #fff;
    text-decoration: none;
  }

  &__email {
    font-size: 14px;
    line-height: 1.3;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &__marketplace {
    padding-bottom: 30px;

    &__title {
      letter-spacing: 0.1em;
      font-size: 14px;
      line-height: 1.3;
      color: #fff;
      padding-bottom: 15px;
      text-transform: uppercase;
    }

    &__list {
      li {
        padding-right: 15px;

        a {
          height: 48px;
          border-radius: 5px;
          color: #fff;
          background: #252525;
          display: inline-flex;
          align-items: center;
          justify-content: center;

          &:hover {
            background: var(--color-violet);
          }
        }
      }
    }

    &__big {
      width: 110px;
    }

    &__min {
      width: 48px;
    }
  }

  &__nav {
    li:not(:last-child) {
      padding-bottom: 10px;
    }

    a {
      color: #b3b3b3;
      font-size: 12px;
      text-decoration: none;
      line-height: 18px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #fff;
      }
    }
  }

  &__caption {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__body {
    padding-bottom: 60px;
  }

  &__copy {
    color: #b3b3b3;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
  }

  &__webmaster {
    a {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: #b3b3b3;
      line-height: 16px;
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #fff;
      }

      .ico {
        min-width: 21px;
      }

      span {
        padding-left: 15px;
      }
    }
  }

  &__payments {
    li {
      padding-right: 20px;
      color: #b3b3b3;
    }
  }
}

.fpad15 {
  padding-bottom: 15px;
}

.fpad20 {
  padding-bottom: 20px;
}


.header__middle__btn {
  &.collapsed {
    .header__middle__btn__close {
      display: none;
    }
  }

  &:not(.collapsed) {
    .header__middle__btn__open {
      display: none;
    }
  }
}

.header__middle__menu {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;

  &__wrap {
    padding-top: 25px;
    padding-bottom: 70px;
  }

  &__level1 {
    padding-left: 26px;

    a {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 246px;
      padding: 5px 13px 5px 15px;
      transition: all 0.3s ease-in-out;
      color: #000;
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      justify-content: space-between;
      border-radius: 5px;
      height: 34px;
      letter-spacing: 0.1em;

      svg {
        min-width: 5px;
        color: #000;
      }

      &:hover,
      &.active {
        background: #efeff0;
        color: #7f7f7f;
      }
    }
  }

  &__level2 {
    &:not(.active) {
      display: none;
    }

    &__list {
      a {
        display: flex;
        align-items: center;
        height: 34px;
        font-size: 12px;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        color: #000;
        letter-spacing: 0.1em;

        &:hover {
          color: #7f7f7f;
        }

      }
    }

    &__more-link {
      padding-top: 45px;
    }

    &__banner {
      color: #000;

      img {
        border-radius: 10px;
      }

      &__caption {
        padding: 10px;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 500;
      }
    }

    &__banner2 {
      position: relative;
      display: block;

      img {
        border-radius: 10px;
        display: block;
      }

      &__caption {

        font-size: 30px;
        line-height: 1.2;
        color: #fff;
        position: absolute;
        z-index: 10;
        width: 100%;
        bottom: 0;
        right: 0;
        text-align: right;
        text-transform: uppercase;
        padding: 30px;

        b {
          display: block;
          text-transform: none;
          font-weight: 500;
        }
      }
    }
  }
}

.header__middle__menu-new__all {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 303 / 210;
  border-radius: 10px;
  background: var(--color-violet);
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  &:hover {
    background: var(--color-violet2);
    color: #fff;
  }
}

.fpad15 {
  padding-bottom: 15px;
}

.header__middle__inner,
.header__middle__menu__wrap {
  position: relative;
  z-index: 101;
  background: #fff;
}

.header__middle__menu__mask {
  transition: all 0.2s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  opacity: 0;
  background: #000;
}

.header__middle__menu__level2__banner:hover {
  color: #7f7f7f;
}

.header__middle__menu__level2__banner .zoom-hover__img,
.banner-grid__item .zoom-hover__img {
  border-radius: 10px;
}

.show .header__middle__menu__mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  opacity: 0.4;
}

.header__middle__ico-menu__search {
  &.collapsed {
    .search-close {
      display: none;
    }
  }

  &:not(.collapsed) {
    .search-open {
      display: none;
    }
  }
}

.header__search-form {
  position: relative;

  &__inp {
    display: block;
    width: 100%;
    padding: 5px 50px 5px 0;
    height: 65px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e8e8e8;
    font-size: 18px;
    font-weight: bold;
    color: #000;

    &::placeholder {
      opacity: 1;
      color: #7f7f7f;
    }
  }

  &__submit {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0 0 15px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #000;
  }
}

.header__search-res__item {
  margin-bottom: 15px;
}

.product-search {
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover {
    color: #7f7f7f;
  }

  .product-tips__item {
    margin-right: 10px;
  }

  &__title {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.3;
    padding-bottom: 5px;
  }

  &__img {
    width: 110px;
    min-width: 110px;
  }

  &__desc {
    flex-grow: 1;
    padding-left: 30px;
  }

}

.header__search-res {
  padding-top: 25px;

  &__footer {
    display: flex;
    justify-content: center;
    padding-top: 10px;

    .btn {
      width: 250px;
      height: 48px;
      font-size: 12px;
      letter-spacing: 0.1em;
    }
  }
}

.header__search-form__clear {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 5px;
  top: 0;
  right: 35px;
  cursor: pointer;
  color: #2c2c2c;

  &:hover {
    color: #7f7f7f;
  }
}

.header__mob-top {
  display: none;
}

.product-day__caption {
  text-transform: uppercase;
  font-weight: bold;
}

.header__mob-menu {
  &__info {
    padding-top: 40px;
  }

  &__phone {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    display: block;
  }

  &__email {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  &__marketplace {
    &__title {
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      line-height: 1.3;
      padding-bottom: 15px;
    }

    &__list {
      li {
        padding-right: 16px;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          background: #efeff0;
          color: #000;
          height: 48px;
        }
      }
    }

    &__big {
      width: 110px;
    }

    &__min {
      width: 48px;
    }
  }
}

.header__mob-top__btn {
  .hamburger-box {
    width: 20px;
  }
}

.header__mob-top__tel {
  margin-right: 20px;
}

.form-send__send__ico,
.footer__bottom__col-copy__mob-link,
.header__middle__ico-menu__mob-caption,
.header__middle__ico-menu__mob-nav {
  display: none;
}

.footer__payments {
  align-items: center;
}

.offcanvas.offcanvas-start {
  border-right: none;
}

.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 13px 20px;
}

.offcanvas-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: #4e1498;
}

button.close {
  border: none;
  padding: 0;
  background: transparent;
  color: #000;

  &:hover,
  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.offcanvas-body {
  padding: 0 13px 30px;
  overflow: hidden;

  .header__middle__menu__level1 a {
    padding-left: 0;
    padding-right: 6px;
  }
}

.tpad40 {
  padding-top: 40px;
}

.offcanvas-header__back {
  padding-right: 15px;
  color: #000;
}

.header__search-not {
  padding-top: 25px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
}

.cookie {
  position: fixed;
  z-index: 30;
  bottom: 20px;
  left: 0;
  right: 0;

  &__wrap {
    display: flex;
    align-items: center;
    padding: 25px 0;
    border-radius: 10px;
    background: #fff;
    position: relative;
    z-index: 30;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  }

  &__ico {
    min-width: 110px;
    display: flex;
    justify-content: center;
  }

  &__desc {
    flex-grow: 1;
    font-size: 12px;
    line-height: 18px;

    a {
      color: #000;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__btn {
    min-width: 160px;
    display: flex;
    justify-content: center;
  }
}

.zoom-hover {
  &__img {
    overflow: hidden;
    border-radius: 10px;

    img {
      transition: all 0.3s ease-in-out;
      width: 100%;
    }
  }

  &:hover {
    .zoom-hover__img img {
      transform: scale(1.1);
    }
  }
}


.animate__animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animate__fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.breadcrumb {
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #000;
  --bs-breadcrumb-margin-bottom: 25px;

  a {
    color: #000;
    text-decoration: none;

    &:hover {
      color: var(--color-violet);
    }
  }

  li:not(:last-child) {
    display: inline-flex;
    align-items: center;

    &::after {
      content: '/';
      margin: 0 12px;
      color: #757575;
    }
  }

  &.breadcrumb--white {
    a {
      color: #fff;
    }
  }
}

.title-page {
  font-size: 30px;
  letter-spacing: 0.1em;
  line-height: 34px;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  margin-bottom: 25px;
}

.fpad40 {
  padding-bottom: 40px;
}

.banner-grid__item__title {
  .fs-30 {
    font-size: 30px;
  }
}

.category-item {
  &__title {
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 500;
    line-height: 1.3;
    padding: 10px 0 0;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    .category-item__title {
      color: #7f7f7f;
    }
  }
}

.caption-h2 {
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1.3;
  color: #000;
  padding-bottom: 40px;
}

.fpad70 {
  padding-bottom: 70px;
}

.fpad60 {
  padding-bottom: 60px;
}

.catalog-top {
  display: flex;
  align-items: center;
  padding-bottom: 18px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;

  &__count {
    width: 153px;
    font-size: 13px;
    line-height: 16px;
    color: #000;

    b {
      font-weight: 500;
    }
  }

  &__sort {
    margin-left: auto;
    display: flex;
    align-items: center;

    &__label {
      color: #757575;
      font-size: 13px;
      line-height: 1.3;

    }

    &__list {
      li {
        padding-left: 18px;
      }

      a {
        display: block;
        position: relative;
        font-size: 13px;
        line-height: 16px;
        color: #000;
        text-decoration: none;

        &:hover {
          color: #7f7f7f;
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          z-index: 10;
          top: 16px;
          left: 0;
          width: 0;
          transition: all 0.2s ease-in-out;
          height: 1px;
          background: #000;
          margin-top: 19px;
        }

        &.active::after {
          width: 100%;
        }
      }
    }
  }
}

.custom-radio {
  display: block;

  input {
    display: none;

    &:checked + .custom-radio__value {
      &::before {
        margin-right: 0;
      }

      &::after {
        background: #000;
      }
    }
  }

  &__value {
    cursor: pointer;
    user-select: none;
    font-size: 13px;
    line-height: 16px;
    color: #000;
    position: relative;
    padding-right: 40px;
    display: block;
    height: 16px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      width: 28px;
      height: 16px;
      border-radius: 8px;
      background: #c9c9c9;
      transition: all 0.3s ease-in-out;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 10;
      transition: all 0.3s ease-in-out;
      width: 12px;
      height: 12px;
      top: 2px;
      right: 2px;
      margin-right: 12px;
      background: #fff;
      border-radius: 6px;
    }
  }
}

.catalog-filter__list {
  padding-bottom: 60px;

  .swiper {
    overflow: visible;

    .swiper-slide {
      width: auto;
    }
  }

  a {
    display: inline-flex;
    align-items: center;
    height: 36px;
    padding: 5px 20px;
    border: 1px solid #ececec;
    color: #000;
    border-radius: 18px;
    transition: all 0.2s ease-in-out;
    font-size: 13px;
    line-height: 18px;

    &.active,
    &:hover {
      border-color: #000;
    }
  }
}

.fpad50 {
  padding-bottom: 50px;
}

.more-link {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;

  &__btn {
    padding: 5px;
    border: none;
    background: transparent;
    font-size: 14px;
    letter-spacing: 0.1em;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;

    &:hover {
      color: #7f7f7f;
    }
  }
}

.catalog-top__mob-sort {
  display: none;
}

.pagination {
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;

  &__item {
    margin: 0 5px;

    &__link {
      width: 36px;
      min-width: 36px;
      height: 36px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.3;
      color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 18px;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: #eee;
      }

      &.active {
        background: #000 !important;
        color: #fff !important;
      }
    }

    &__dotts {
      width: 36px;
      min-width: 36px;
      height: 36px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.3;
      color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 18px;
      transition: all 0.2s ease-in-out;
    }
  }

  &__btn {
    &__nav {
      width: 36px;
      min-width: 36px;
      height: 36px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.3;
      color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 18px;
      transition: all 0.2s ease-in-out;
      background: #eee;

      &:hover {
        background: #000 !important;
        color: #fff !important;
      }
    }

    &--prev {
      margin-right: 10px;
    }

    &--next {
      margin-left: 10px;
    }
  }

}

.modal-content.modal-content--rounded {
  border: none;
  border-radius: 10px 10px 0 0;
  padding: 30px;
}

.btn-close-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  margin-left: -18px;
  position: absolute;
  z-index: 100;
  top: -60px;
  left: 50%;
  background: #fff;
}

.mob-sort {
  &__list {
    &__item {
      display: block;
      margin-bottom: 15px;

      input {
        display: none;

        &:checked + span {
          &::after {
            border-color: #4e1498;
          }

          &::before {
            opacity: 1;
          }
        }
      }

      span {
        display: block;
        padding: 3px 20px 3px 0;
        font-size: 13px;
        line-height: 16px;
        color: #000;
        position: relative;

        &::after {
          content: '';
          display: block;
          position: absolute;
          z-index: 1;
          top: 3px;
          right: 0;
          width: 16px;
          height: 16px;
          border-radius: 8px;
          border: 2px solid #c9c9c9;
          transition: all 0.2s ease-in-out;
        }

        &::before {
          content: '';
          display: block;
          position: absolute;
          z-index: 20;
          width: 8px;
          height: 8px;
          border-radius: 4px;
          background: #4e1498;
          right: 4px;
          top: 7px;
          opacity: 0;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    padding-top: 10px;

    .btn {
      width: 142px;
    }
  }
}

.seo-text {
  border-top: 1px solid #e8e8e8;
  padding-top: 50px;
  padding-bottom: 90px;
}

.text {
  h2 {
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin: 0 0 25px;
  }

  p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 16px;
  }
}

.catalog-empty {
  padding: 50px 0 90px;

  p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
    color: #010101;
  }
}

.modal-dialog.modal-dialog-centered {
  align-items: flex-end;
  padding-bottom: 0;
  margin-bottom: 0;
  height: calc(100vh - 20px);
}

.offcanvas.offcanvas-bottom {
  height: auto;
  border-top: none;
  border-radius: 10px 10px 0 0;
}

.single-product {
  position: relative;
  padding-bottom: 80px;

  &__images {
    display: flex;
    align-items: flex-start;

    &__thumbnails {
      height: 540px;
      padding: 36px 0;
      position: relative;
      width: 84px;
      min-width: 84px;

      .swiper-slide {
        width: 84px;
        height: 84px !important;
      }

      &__item {
        width: 84px;
        height: 84px;
        overflow: hidden;
        border-radius: 5px;
        border: 1px solid #fff;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }

      .swiper-slide-thumb-active {
        .single-product__images__thumbnails__item {
          border: 1px solid #000;
        }
      }

      &__nav {
        display: flex;
        position: absolute;
        z-index: 10;
        left: 0;
        width: 100%;
        height: 36px;
        align-items: center;
        justify-content: center;
        padding: 0;
        background: none;
        color: #000;
        border: none;
      }
    }

    &__main {
      flex-grow: 1;
      padding-left: 30px;
      width: calc(100% - 84px);
    }
  }

  &__image-item {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__tips {
    flex-direction: row;
    gap: 9px;
    padding-bottom: 18px;
  }

  &__props-top {
    display: flex;
    padding-bottom: 25px;
  }

  &__title {
    margin: 0 0 25px 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &__status {
    padding-bottom: 25px;
  }

  &__preview {
    padding-bottom: 20px;
    border-bottom: 1px solid #e8e8e8;

    p {
      color: #757575;
      font-size: 14px;
      line-height: 18px;
      margin: 0;
    }
  }

  &__sku {
    padding: 15px 0;

    border-bottom: 1px solid #e8e8e8;

    &__title {
      font-size: 14px;
      font-weight: bold;
      line-height: 1.3;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: #010101;
      padding-bottom: 15px;
    }

    &__list {
      gap: 4px;

      li {
        width: 72px;
        min-width: 72px;
      }
    }

    &__item {
      width: 72px;
      text-align: center;
      color: #000;
      transition: all 0.2s ease-in-out;

      &__img {
        width: 72px;
        height: 72px;
        border-radius: 36px;
        border: 2px solid #fff;
        padding: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        display: block;
        overflow: hidden;
        max-width: 100%;
        height: auto;
      }

      &__caption {
        font-size: 12px;
        line-height: 1.2;
        padding-top: 7px;

      }

      &:hover {
        color: #7f7f7f;
      }

      &.active {
        .single-product__sku__item__img {
          border-color: #4e1498;
        }
      }

    }
  }

  &__row-cost {
    display: flex;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #e8e8e8;
  }

  &__price {
    width: 140px;

    .price--hot {
      font-size: 28px;
      line-height: 1.1;
    }
  }

  &__col-count {
    padding-right: 30px;
  }

  &__col-btn {
    padding-right: 15px;

    .btn--bay {
      height: 46px;
      width: 147px;
      font-size: 12px;
    }
  }

  &__fav {
    border: none;
    height: 46px;
    width: 46px;
    min-width: 46px;
    display: flex;
    cursor: pointer;
    padding: 0;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #efeff0;
    color: #777778;

    &:hover,
    &.active {
      color: #4e1498;
    }

  }

  &__tabs {
    padding-bottom: 40px;
    padding-top: 15px;

    &__nav {
      padding: 0 0 25px;

      li:not(:last-child) {
        padding-right: 30px;
      }

      .nav-link {
        padding: 10px 0;
        position: relative;
        font-size: 14px;
        line-height: 16px;
        color: #010101;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: #7f7f7f;
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          z-index: 1;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;
          background: #4e1498;
          transition: all 0.3s ease-in-out;
        }

        &.active::after {
          width: 100%;
        }

      }
    }
  }

}

.count-box {
  display: flex;
  align-items: center;

  &__btn {
    width: 36px;
    min-width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 18px;
    padding: 0;
    background: #efeff0;
    transition: all 0.2s ease-in-out;
    color: #000;

    &:hover {
      background: #000;
      color: #fff;
    }
  }

  &__value {
    width: 65px;
    min-width: 65px;
    padding: 0 10px;
    border: none;
    text-align: center;
    height: 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: #000;
  }
}

.status {
  padding-left: 26px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 18px;
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  color: #010101;
  letter-spacing: 0.1em;

  &--in-stock {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='m256,0C114.84,0,0,114.84,0,256s114.84,256,256,256,256-114.84,256-256S397.16,0,256,0Zm132.27,224.26l-94.42,92.69c-16.7,16.38-38.21,24.55-59.73,24.55s-42.58-8.02-59.22-24.09l-40.51-39.83c-8.41-8.26-8.51-21.76-.26-30.17,8.23-8.43,21.78-8.53,30.17-.26l40.38,39.7c16.55,16,42.69,15.91,59.33-.38l94.4-92.67c8.38-8.28,21.85-8.13,30.17.28,8.26,8.41,8.13,21.91-.3,30.17h0Z'/%3E%3C/svg%3E");
  }

  &--out-of-stock {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Filled' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B stroke-width: 0px;%0Afill: %23777778; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='m256,0C114.62,0,0,114.62,0,256s114.62,256,256,256,256-114.62,256-256C511.85,114.68,397.32.15,256,0Zm21.33,253.42c0,7.35-3.78,14.19-10.01,18.09l-81.92,51.2c-10.01,6.26-23.21,3.21-29.46-6.81-6.26-10.01-3.21-23.21,6.81-29.46l71.91-44.84v-92.27c0-11.78,9.55-21.33,21.33-21.33s21.33,9.55,21.33,21.33v104.09Z'/%3E%3C/svg%3E");
  }
}

.single-product__props-top__item {
  display: flex;
  letter-spacing: 0.1em;
  font-size: 12px;
  line-height: 16px;
  margin: 0;

  &:not(:last-child) {
    padding-right: 30px;
  }

  dt {
    padding-right: 5px;
    margin: 0;
  }

  dd {
    color: #757575;
    margin-bottom: 0;
  }
}

.single-product__btns {
  display: flex;
}

.single-product__row-cost {
  flex-wrap: wrap;
}

.reviews__body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding-bottom: 30px;

  .rev-list__item {

  }
}

.recommendation {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    background: #fff;
    position: relative;
    display: inline-flex;
    min-height: 46px;
    align-items: center;
    padding: 0 15px;
    max-width: 80%;
    margin-bottom: -23px;
    color: #4e1498;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  &__body {
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #4e1498;
    font-size: 14px;
    line-height: 18px;
  }
}


.reviews {
  padding-bottom: 80px;

  &__header {
    text-align: center;


    h2 {
      font-size: 18px;
      font-weight: bold;
      line-height: 1.3;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: #000000;
      margin-bottom: 18px;
    }

    &__params {
      display: flex;
      justify-content: center;
      align-items: center;

      &__item {
        padding: 0 15px;
        display: flex;
        align-items: center;

        &__value {
          white-space: nowrap;
          padding-right: 12px;
          font-weight: bold;
          font-size: 48px;
          line-height: 1;
        }

        &__label {
          white-space: nowrap;
          color: #7f7f7f;
          text-transform: uppercase;
          font-size: 12px;
          line-height: 1.3;
          letter-spacing: 0.1em;
        }

        .reviews-stars {
          margin-top: 5px;
        }
      }
    }
  }

  &__subtitle {
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 1.3;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 23px;

    a {
      font-weight: 500;
      text-decoration: underline;
      color: #000000;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__wrap {
    padding-top: 35px;
  }

  &__footer {
    display: flex;
    justify-content: center;
  }

  &__more-btn {
    font-size: 12px;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    padding: 0;
    border: none;

    &:hover {
      text-decoration: none;
      color: #7f7f7f;
    }
  }
}


.reviews-stars {
  position: relative;
  overflow: hidden;
  width: 78px;

  &__filter-stars {
    display: flex;
    align-items: center;
    margin-left: -2px;
    color: #757575;

    svg {
      min-width: 12px;
      margin: 0 2px;
    }
  }

  &__val {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;

    .reviews-stars__filter-stars {
      color: #baa37a;
    }
  }
}

.rev-list__item {
  background: #f5f5f5;
  padding: 28px;
  border-radius: 10px;
  min-height: 240px;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
  }

  &__body {
    flex-grow: 1;
    padding-bottom: 15px;

    p {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 16px;
    }
  }

  &__date {
    color: #757575;
    font-size: 12px;
    line-height: 1;
  }

  &__fio {
    padding-right: 15px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: 0.1em;
  }

}


.related-products {
  padding-bottom: 100px;

  &__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #000000;
    margin-bottom: 40px;
    text-align: center;
  }
}

.single-product__mob-img__wrap {
  display: none;
}

.modal-content {
  border: none !important;
  border-radius: 12px;
  width: 546px;
  padding: 10px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);

  .form-modal {
    width: 100%;
    max-width: 414px;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-header {
    display: block;
    padding: 25px 20px 20px;
    border-bottom: none;
    position: relative;

    .btn-close2 {
      position: absolute;
      z-index: 1;
      top: 10px;
      right: 10px;
    }

    .modal-title {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.1em;
      color: #000000;
      text-transform: uppercase;
    }
  }

  .modal-body {
    padding: 0 20px 15px;

    .reviews__subtitle {
      text-align: center;
    }

    .rev-list__item {
      margin-bottom: 10px;
    }
  }
}

.single-product__subscription-product {
  border-bottom: 1px solid #e8e8e8;
  border-top: 1px solid #e8e8e8;
  padding: 15px 0;
  margin-bottom: 15px;

  &__title {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding-bottom: 15px;
    line-height: 1.1;
    text-transform: uppercase;
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    max-width: 460px;
  }

  &__inp {
    flex-grow: 1;
    padding-right: 10px;

    input {
      width: 100%;
      display: block;
      padding: 10px 15px;
      height: 48px;
      background: #efeff0;
      border: none;
      border-radius: 6px;
      font-size: 12px;
      line-height: 28px;
      color: #000;
      letter-spacing: 0.1em;

      &::placeholder {
        color: #757575;
        opacity: 1;
      }
    }
  }

  &__send {
    height: 48px;
    width: 150px;
    min-width: 150px;
    background: var(--color-violet);
    font-size: 12px;
    border-radius: 6px;
    color: #fff;

    &:hover {
      background: var(--color-violet2);
      color: #fff;
    }
  }
}

.form-send__inp {
  letter-spacing: 0.1em;
}

.reviews__not {
  border-radius: 10px;
  background: #f5f5f5;
  padding: 35px 20px;
  text-align: center;

  &__title {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-bottom: 20px;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 25px;
  }

  &__footer {
    width: 180px;
    margin: 0 auto;

    .btn {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }
}

.form-modal__row {
  margin-bottom: 20px;
  position: relative;

  &--rating {
    display: flex;
    align-items: center;

    span {

      font-size: 14px;
      line-height: 1.2;
    }
  }
}


.rating-area {
  overflow: hidden;
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
}

.rating-area:not(:checked) > input {
  display: none;
}

.rating-area:not(:checked) > label {
  float: right;
  width: 24px;
  padding: 0;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  color: #757575;
  margin-left: 15px;
}


.rating-area > input:checked ~ label {
  color: #baa37a;
}

.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: #baa37a;
}

.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: #baa37a;
}


.form-modal__inp {
  display: block;
  width: 100%;
  padding: 5px 15px;
  height: 48px;
  font-size: 14px;
  line-height: 38px;
  border-radius: 6px;
  background-color: #efeff0;
  border: none;
  color: #000;

  &::placeholder {
    color: #757575;
    opacity: 1;
  }

  &:hover,
  &:active,
  &:focus {
    border: none;
    box-shadow: none;
    outline: none;
  }
}

.form-modal__textarea {
  display: block;
  width: 100%;
  padding: 5px 15px;
  height: 180px;
  font-size: 14px;
  line-height: 38px;
  border-radius: 6px;
  background-color: #efeff0;
  color: #000;
  resize: none;
  border: none;

  &::placeholder {
    color: #757575;
    opacity: 1;
  }

  &:hover,
  &:active,
  &:focus {
    border: none;
    box-shadow: none;
    outline: none;
  }
}

.form-modal__submit {
  display: flex;
  justify-content: center;
  padding: 10px 0;

  .btn {
    width: 180px;
  }
}

.tpad30 {
  padding-top: 30px;
}

.fpad50 {
  padding-bottom: 50px;
}

.modal-body__text {
  font-size: 14px;
  line-height: 18px;
  color: #000;
}

.single-product__price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .price--old {
    margin-bottom: 5px;
  }
}

.single-product__subscription-product__active {
  display: flex;
  align-items: center;
  min-height: 80px;
  color: #4e1498;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 500;

  svg {
    min-width: 24px;
    margin-right: 10px;
  }
}

.text p strong {
  font-weight: 500;
}

.single-product__promo {
  padding-top: 60px;

  &__desc {
    padding-left: 84px;
    padding-right: 84px;

    h2 {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding-left: 40px;
        position: relative;
        font-size: 14px;
        line-height: 18px;

        &:not(:last-child) {
          margin-bottom: 15px;
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          z-index: 1;
          top: 10px;
          left: 0;
          width: 20px;
          height: 1px;
          background: var(--color-violet);
        }
      }
    }
  }
}

.single-product__promo__full {
  margin-bottom: 30px;
  position: relative;

  &__img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__wrap {
    position: relative;
    z-index: 10;
    height: 450px;
    align-items: center;
    justify-content: flex-end;
  }
}

.page-404 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0 100px;
  flex-direction: column;

  h1 {
    padding: 30px 0 40px;
    margin: 0;
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #000;
    text-align: center;
  }
}

.rent-banner {
  height: 770px;
  background: #101010 url("../images/dist/rent_top.jpg") 50% 100% no-repeat;
  background-size: auto 100%;
  margin-bottom: 70px;
  padding-top: 20px;
  text-align: center;

  &__title {
    font-size: 96px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    letter-spacing: 0.1em;
    padding-top: 60px;
    margin: 0;
    padding-bottom: 10px;
  }
  &__subtitle {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    font-size: 36px;
    padding-bottom: 50px;
  }
  &__text {
    font-size: 16px;
    line-height: 30px;
    color: #fff;
  }
}

.h2 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 24px;
  color: #000;
  margin-bottom: 35px;
}

.rent-box {
  padding: 50px 60px;
  border-radius: 10px;
  background: #eee;
  margin-bottom: 35px;

  overflow: hidden;
  &__header {
    float: left;
    width: 50%;
    padding-right: 15px;
  }
  &__image {
    width: 50%;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
  }
  &__desc {
    float: left;
    clear: left;
    width: 50%;
    padding-right: 15px;
    ul {
      padding: 0 0 15px;
      margin: 0;
      list-style: none;
      li {
        padding: 0 0 5px 45px;
        font-size: 14px;
        line-height: 18px;
        position: relative;
        &::after {
          content: '';
          display: block;
          position: absolute;
          z-index: 1;
          top: 8px;
          left: 0;
          width: 20px;
          height: 1px;
          background: var(--color-violet);
        }
      }
    }
  }
  &__art {
    color: #757575;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.1em;
    padding-bottom: 5px;
    span {
      color: #010101;
    }
  }

  &__title {
    font-size: 30px;
    line-height: 1.3;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #000;
    padding-bottom: 15px;
    margin: 0;
  }

  &__footer {
    display: flex;
    align-items: center;
    padding-top: 10px;
    &__col-price {
      width: 200px;
      padding-right: 20px;
      min-width: 200px;
      font-size: 28px;
      font-weight: bold;
      line-height: 0.9;
      .small {
        font-size: 18px;
        line-height: 1;
      }
    }
  }
}

.ls-1 {
  letter-spacing: 0.1em;
}

.air-datepicker-global-container {
  z-index: 9999;
}

.form-modal__inp--date {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Capa_1' data-name='Capa 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 493.04 512'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='m67.89,512h357.26c37.45,0,67.89-30.44,67.89-67.89V105.81c0-37.45-30.44-67.89-67.89-67.89h-26.93v-18.96c0-10.43-8.53-18.96-18.96-18.96s-18.96,8.53-18.96,18.96v18.96h-227.55v-18.96c0-10.43-8.53-18.96-18.96-18.96s-18.96,8.53-18.96,18.96v18.96h-26.93C30.44,37.93,0,68.36,0,105.81v338.3c0,37.45,30.44,67.89,67.89,67.89h0ZM37.93,105.81c0-16.5,13.46-29.96,29.96-29.96h26.93v18.96c0,10.43,8.53,18.96,18.96,18.96s18.96-8.53,18.96-18.96v-18.96h227.56v18.96c0,10.43,8.53,18.96,18.96,18.96s18.96-8.53,18.96-18.96v-18.96h26.93c16.5,0,29.96,13.46,29.96,29.96v55.37H37.93v-55.37Zm0,93.3h417.19v245c0,16.5-13.46,29.96-29.96,29.96H67.89c-16.5,0-29.96-13.46-29.96-29.96v-245Z'/%3E%3C/svg%3E");
  background-position: right 15px top 50%;
  background-repeat: no-repeat;
  background-size: 18px 18px;
}
.form-modal__ps {
  padding: 0 15px 20px;
  font-size: 12px;
  line-height: 16px;
  a {
    color: #000;
    font-weight: 500;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
